@using KinderConnect.Web.ViewModels.Home;

@model IndexViewModel

<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Latest Blog</span></p>
            <h1 class="mb-4">Latest Posts From Blog</h1>
        </div>
        <div class="row pb-3">
            @foreach (var blogPost in Model.BlogPosts)
            {
                <div class="col-lg-4 mb-4">
                    <div class="card border-0 shadow-sm mb-2">
                        <img class="card-img-top mb-2" src="@blogPost.ImageUrl" alt="">
                        <div class="card-body bg-light text-center p-4">
                            <h4 class="">@blogPost.Title</h4>
                            <div class="d-flex justify-content-center mb-3">
                                <small class="mr-3"><i class="fa fa-user text-primary"></i> @blogPost.Author</small>
                            </div>
                            <div class="content-summary">
                                <p>@blogPost.Content.Substring(0, 100)...</p>
                            </div>
                            <div class="content-full" style="display: none;">
                                <p>@blogPost.Content</p>
                            </div>
                            <a class="btn btn-primary px-4 mx-auto my-2 toggle-content">Read More</a>
                            <a class="btn btn-primary px-4 mx-auto my-2 toggle-content" style="display: none;">Hide</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
