@using KinderConnect.Web.ViewModels.Child;
@model ChildDetailsViewModel

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.ImageUrl" class="img-fluid" alt="@Model.FirstName @Model.LastName">
        </div>
        <div class="col-md-6">
            <h1>@Model.FirstName @Model.LastName</h1>
            <p>Age: @Model.Age</p>
            <p>Gender: @Model.Gender</p>
            <p>Date of Birth: @Model.DateOfBirth</p>
            <p>Parent/Guardian Contact: @Model.ParentGuardianContact</p>
            <p>Medical Information: @Model.MedicalInformation</p>
            <p>Allergies: @Model.Allergies</p>

            @if (Model.Classroom != null)
            {
                <p>Classroom: @Model.Classroom.Name</p>
                <a asp-controller="Classroom" asp-action="LeaveClassroom" asp-route-id="@Model.Id" class="btn btn-danger btn-primary rounded">Leave Classroom</a>
            }
            else
            {
                <p class="text-danger">This child is not assigned to any classroom.</p>
                <a asp-controller="Classroom" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-success btn-primary rounded">Join Classroom?</a>
            }

            <a asp-controller="Child" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-primary rounded">Edit</a>
        </div>
    </div>
</div>