@using KinderConnect.Web.ViewModels.Classroom
@model IEnumerable<AllClassroomViewModel>

@{
    var childId = ViewContext.RouteData.Values["id"]?.ToString();
}

<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Popular Classes</span></p>
            <h1 class="mb-4">Classes for Your Kids</h1>
        </div>
        <div class="row">
            @foreach (var classroom in Model)
            {
                <div class="col-lg-4 mb-5">
                    <div class="card border-0 bg-light shadow-sm pb-2">
                        <img class="card-img-top mb-2" src="@classroom.ImageUrl" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title">@classroom.Name</h4>
                            <p class="card-text">@classroom.Information</p>
                        </div>
                        <div class="card-footer bg-transparent py-4 px-5">
                            <div class="row border-bottom">
                                <div class="col-6 py-1 text-right border-right"><strong>Age of Kids</strong></div>
                                <div class="col-6 py-1">@classroom.MinimumAge - @classroom.MaximumAge Years</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-6 py-1 text-right border-right"><strong>Total Seats</strong></div>
                                <div class="col-6 py-1">@classroom.TotalSeats Seats</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-6 py-1 text-right border-right"><strong>Available Seats</strong></div>
                                <div class="col-6 py-1 text-orange">@classroom.TotalSeatsAvailable Seats </div>
                            </div>
                            @if (!classroom.SeatsAvailable)
                            {
                                <div class="row border-bottom">
                                    <div class="col-12 py-1 text-center">
                                        <span class="text-danger">Classroom is already full</span>
                                    </div>
                                </div>
                            }
                        </div>
                        @if (classroom.SeatsAvailable)
                        {
                            @if (!string.IsNullOrEmpty(childId))
                            {
                                <a asp-action="JoinClassroomByChild" asp-route-id="@classroom.Id" asp-route-childId="@childId" class="btn btn-primary px-4 mx-auto mb-4">Join Now</a>
                            }
                            else
                            {
                                <a asp-action="JoinClassroom" asp-route-id="@classroom.Id" class="btn btn-primary px-4 mx-auto mb-4">Join Now</a>
                            }
                        }
                        else
                        {
                            <button class="btn btn-primary px-4 mx-auto mb-4" disabled>Join Now</button>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>