@using KinderConnect.Web.ViewModels.Attendance;
@model IEnumerable<AttendanceRecordFormModel>
<div class="container">
    <h2>Attendance Records</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Teacher</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Activity</th>
                <th>Children</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attendance in Model)
            {
                <tr>
                    <td>@attendance.TeacherName</td>
                    <td>@attendance.Start</td>
                    <td>@attendance.End</td>
                    <td>@attendance.Actvity</td>
                    <td>
                        @if (attendance.Children.Count <= 0)
                        {
                            <p>There are no children for this classroom.</p>
                        }
                        @foreach (var child in attendance.Children)
                        {
                            <div class="d-flex">
                                @if (child.IsPresent)
                                {
                                    <form asp-controller="Attendance" asp-action="EditPresence" asp-route-attendanceId="@attendance.Id" asp-route-childId="@child.Id" method="post" class="me-2">
                                        <button type="submit" class="badge bg-success">Present</button>
                                    </form>
                                }
                                else
                                {
                                    <form asp-controller="Attendance" asp-action="EditPresence" asp-route-attendanceId="@attendance.Id" asp-route-childId="@child.Id" method="post" class="me-2">
                                        <button type="submit" class="badge bg-danger">Absent</button>
                                    </form>
                                }
                                <span class="badge bg-primary me-1">@child.FullName</span>
                            </div>
                            <br />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <a asp-controller="Attendance" asp-action="Create" asp-route-classroomId="@ViewBag.ClassroomId" class="btn btn-primary">Add Attendance</a>
    </div>
</div>